{{- if eq .Status "resolved" }}
✅💙 PHỤC HỒI 💙✅
-----
📝 Nội dung: {{ .CommonAnnotations.summary }}
🛑 Nhóm Cảnh báo: {{ .CommonLabels.alertname }}
💻 Máy Chủ: {{ .CommonLabels.instance }}
📈 Trạng Thái: {{ .Status | str_UpperCase }}
-----
{{- end }}

{{- if eq .Status "firing" }}
🚨 {{ .CommonLabels.alertname }} ALERT 🚨
-----
Tên POD: {{ if .CommonLabels.pod }}<code>{{ .CommonLabels.pod }}</code>{{ else }}N/A{{ end }}
Namespace: {{ if .CommonLabels.namespace }}<code>{{ .CommonLabels.namespace }}</code>{{ else }}N/A{{ end }}
Mức Độ: 🔥 <code>{{ .CommonLabels.severity | str_UpperCase }}</code> 🔥
Thông Tin: {{ .CommonAnnotations.summary }}
-----
{{- range .Alerts }}
🕑 TIME ISSUE: <code>{{ .StartsAt | str_FormatDate }}</code>
{{- end }}
{{- end }}
